<a href="https://colab.research.google.com/github/2jyeon/Python_study/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8%EB%82%B4%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 내포(List comprehension)

list_A 리스트의 각 항목에 3을 곱한 결과를 result 리스트에 담아보자.

In [3]:
list_A = [1, 2, 3, 4]

## 1. 리스트 안에서 for문 사용하기

In [4]:
result = []
for num in list_A:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

리스트 내포를 사용하여 같은 기능을 구현해보자.
## 2. 리스트 내포 사용하기

In [5]:
result = [num*3 for num in list_A]
print(result)

[3, 6, 9, 12]

### (1) 리스트 내포 안에 if 조건 사용하기
```
[표현식 for 항목 in 반복가능객체 if 조건문]
```

In [6]:
result = [num*3 for num in list_A if num > 2]
print(result)

[9, 12]

### (2) for문 여러개

```
[표현식 for 항목1 in 반복가능객체1 if 조건문1  
        for 항목2 in 반복가능객체2 if 조건문2  
        ...  
        for 항목n in 반복가능객체n if 조건문n]
```

In [11]:
# 구구단 만들기 (1단, 2단)
result = [x*y for x in range(1, 3)
              for y in range(1,10)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18]

출처  
[점프투파이썬](https://wikidocs.net/22)